<?xml version="1.0" encoding="utf-8" ?>
<root>
        <menu-lable type="menu">Bitcoin</menu-lable>
        <menu-lable type="menu">Popolazione Lazio</menu-lable>
        <subMenu-lable id="test">Per Provincia</subMenu-lable>
        <subMenu-lable type="submenu">Per Comune</subMenu-lable>
        <menu-lable type="menu">Covid Info</menu-lable> 
        <menu-lable type="submenu">Dati Covid</menu-lable>
        <subMenu-lable type="sub-submenu">Dati Covid Per Regione</subMenu-lable>
        <subMenu-lable type="sub-submenu">Dati Covid Per Comune</subMenu-lable>
        <menu-lable type="menu">Sistema solare</menu-lable>

</root>
